@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  cursor: pointer;
}

.contain {
  max-width: 970px;
  padding: 0 20px;
  margin: 0 auto;
}

.review__header_title {
  font-weight: bold;
  font-size: 20px;
  color: #383838;
  margin: 22px 0;
}

.review__header_comment .comment-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 50px;
  background-color: #F7F7F7;
  color: #383838;
}
.review__header_comment .comment-text span {
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #FF6D00;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 11px;
}

.allReviews__menu {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  color: #979797;
  margin: 23px 0 11px 0;
}
.allReviews__menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  list-style: none;
}

.reviews {
  border-bottom: 1px solid #F2F2F2;
  box-sizing: border-box;
}

.reviewItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.reviewItem .reviews {
  padding-bottom: 20px;
  border: 1px solid #E8E7E7;
}
.reviewItem .item-photo {
  width: 40px;
  height: 40px;
}
.reviewItem .reviewItem__name {
  font-size: 12px;
  line-height: 16px;
  color: #383838;
}
.reviewItem .reviewItem__fullreview {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 20px;
}
.reviewItem .reviewItem__fullreview .reviewItem__rating-score {
  padding-left: 5px;
  color: #AFAFAF;
}
.reviewItem .reviewItem__fullreview .reviewItem__rating {
  display: flex;
  flex-direction: row;
}
.reviewItem .reviewItem__fullreview .reviewItem__rating .reviewItem__rating-stars {
  position: relative;
}
.reviewItem .reviewItem__fullreview .reviewItem__rating .reviewItem__rating-stars .star {
  position: absolute;
  right: 0;
  top: 0;
}
.reviewItem .reviewItem__fullreview .reviewItem__appropriate_list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  color: #AFAFAF;
}
.reviewItem .reviewItem__fullreview .reviewItem__appropriate_list li:not(last-child) {
  padding-right: 14px;
}
.reviewItem .reviewItem__fullreview .reviewItem__appropriate_list span {
  font-weight: bold;
}
.reviewItem .reviewItem__text {
  transition: 0;
  letter-spacing: 0.25px;
  text-align: justify;
}
.reviewItem .reviewItem__text.hiddenPart {
  height: 80px;
  overflow: hidden;
}
.reviewItem .reviewItem_review-opener {
  text-align: left;
  max-width: 100px;
  color: #FF6D00;
  margin-top: 11px;
  border: none;
  background-color: white;
  transition: 0.2s;
}
.reviewItem .reviewItem_review-opener::after {
  content: "ÔÅ∏";
  padding-left: 5px;
  font-family: fontawesome;
}
.reviewItem .reviewItem_review-opener:hover {
  color: #ff9900;
}
.reviewItem .reviewItem__reviewStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.reviewItem .reviewItem__reviewStatus .reviewStatus_status {
  text-align: center;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.reviewItem .reviewItem__reviewStatus .reviewStatus_date {
  margin-top: 5px;
  font-size: 12px;
  line-height: 16px;
  color: #AFAFAF;
}
.reviewItem .reviewItem__reviewStatus .status-active {
  background-color: #50AD01;
}

.photo {
  max-width: 40.48px;
  width: 100%;
  padding-left: 17px;
}
.photo:nth-of-type(2) {
  padding-left: 12px;
}

.goodsName {
  width: 100%;
  max-width: 153px;
}

.fullreview {
  max-width: 368px;
  width: 100%;
}

.reviewStatus {
  max-width: 109px;
  width: 100%;
}

.action {
  max-width: 148px;
  width: 100%;
}

.active-button {
  padding: 9px 17px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #979797;
  border-radius: 2px;
  color: #979797;
  background: white;
  transition: 0.3s color background-color;
}
.active-button:hover {
  background: #e7e6e6;
}
.active-button:active {
  border-color: black;
}

.extraReview .extraReview__title {
  font-size: 12px;
  line-height: 22px;
  color: #FF6D00;
}
.extraReview .extraReview__review-text {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #332F29;
  margin-bottom: 12px;
}
.extraReview .extraReview__photos {
  display: flex;
  flex-direction: row;
}
.extraReview .extraReview__photos .extraReview__photos-photo {
  padding: 8px 0;
  border: 1px solid #EBEBEA;
  box-sizing: border-box;
  transition: 0.3s;
}
.extraReview .extraReview__photos .extraReview__photos-photo:not(:last-child) {
  margin-right: 10px;
}
.extraReview .extraReview__photos .extraReview__photos-photo:hover {
  border: 1px solid black;
  background: #f0f0f0;
}
.extraReview .extraReview__photos img {
  width: 68px;
  height: 54px;
}
.extraReview .reviewStatus_status {
  background-color: #50AD01;
  opacity: 0.6;
}

.canceled {
  margin-top: 13px;
  padding-bottom: 60px;
  border-bottom: 1px solid #F2F2F2;
  box-sizing: border-box;
}
.canceled .reviewItem__name {
  font-size: 12px;
  line-height: 16px;
  color: #383838;
}
.canceled .reviewStatus_status {
  background-color: #A0A0A0;
}

.canceledReview {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #979797;
}

.zoomer {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: right;
}
.zoomer .zoomer__close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: 900;
  color: white;
  z-index: 2;
  font-family: fontawesome;
  font-size: 35px;
  cursor: pointer;
}
.zoomer .zoomer__image {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.zoomer.disactivated {
  display: none;
}

.extraReview__mainBlock {
  display: flex;
  flex-direction: row;
  max-width: 693px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  padding-top: 9px;
}

@media screen and (max-width: 768px) {
  .allReviews__menu {
    display: none;
  }

  .allReviews {
    border: 1px solid #E8E7E7;
    box-sizing: border-box;
    padding: 15px 0;
    margin: 30px 0;
  }

  .reviews {
    padding: 0 20px;
    margin-top: 11px;
  }

  .reviewItem {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviewItem .reviewItem__rating {
    margin-bottom: 6px;
  }
  .reviewItem .reviewItem__appropriate {
    margin-bottom: 9px;
  }
  .reviewItem .reviewItem_review-opener {
    margin-bottom: 20px;
  }
  .reviewItem .photo {
    max-width: 40px;
    width: 100%;
    padding-left: 0;
    padding-right: 14px;
  }
  .reviewItem .goodsName {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    max-width: 50%;
    margin-bottom: 14px;
  }
  .reviewItem .extraReview__photos {
    justify-content: center;
  }
  .reviewItem .fullreview {
    max-width: 368px;
    width: 100%;
    text-align: center;
  }
  .reviewItem .reviewStatus {
    max-width: 100%;
    width: 100%;
  }
  .reviewItem .action {
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;
    text-align: center;
  }
  .reviewItem .reviewItem__reviewStatus {
    order: -1;
    flex-direction: row-reverse;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
  }

  .canceled {
    margin: 0;
    padding: 20px 20px;
    border: 0px;
  }

  .review__header_comment .comment-text {
    align-items: top;
    padding: 30px 30px;
  }
  .review__header_comment .comment-text span {
    flex-shrink: 0;
  }

  .extraReview .photo, .extraReview .goodsName, .extraReview .action {
    display: none;
  }

  .canceled .action {
    display: none;
  }

  .extraReview__title {
    order: -3;
  }

  .extraReview__title.hidden {
    display: none;
  }

  .extraReview__mainBlock {
    justify-content: center;
    border: none;
  }
}
@media screen and (max-width: 460px) {
  .allReviews__menu {
    display: none;
  }

  .allReviews {
    border: 1px solid #E8E7E7;
    box-sizing: border-box;
    padding: 15px 0;
    margin: 30px 0;
    text-align: left;
  }

  .reviews {
    padding: 0 20px;
    margin-top: 11px;
  }

  .reviewItem {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }
  .reviewItem .goodsName {
    max-width: 70%;
    width: 100%;
  }
  .reviewItem .action {
    text-align: left;
  }
  .reviewItem .extraReview__photos {
    justify-content: flex-start;
  }
  .reviewItem .fullreview {
    max-width: 368px;
    width: 100%;
    text-align: left;
  }
}