@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.contain {
  max-width: 930px;
  margin: 0 auto;
}

.review__header_title {
  font-weight: bold;
  font-size: 20px;
  color: #383838;
  margin: 22px 0;
}

.review__header_comment .comment-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px 50px;
  background-color: #F7F7F7;
  color: #383838;
}
.review__header_comment .comment-text span {
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #FF6D00;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  margin-right: 11px;
}

.main__menu {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #979797;
  margin: 23px 0 11px 0;
}
.main__menu_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.main__itemReview {
  display: flex;
  flex-direction: row;
}
.main__itemReview .item-photo {
  width: 40px;
  height: 40px;
}
.main__itemReview .itemReview__items-name {
  font-size: 12px;
  line-height: 16px;
  color: #383838;
}
.main__itemReview .itemReview__items-review {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 20px;
}
.main__itemReview .itemReview__items-review .rating-score {
  color: #AFAFAF;
}
.main__itemReview .itemReview__items-review .appropriate_list {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  color: #AFAFAF;
}
.main__itemReview .itemReview__items-review .appropriate_list li:not(last-child) {
  padding-right: 14px;
}
.main__itemReview .itemReview__items-review .appropriate_list span {
  font-weight: bold;
}
.main__itemReview .itemReview__items-review .itemReview-text {
  letter-spacing: 0.25px;
}
.main__itemReview .itemReview__items-review .item_review-opener {
  text-align: left;
  max-width: 100px;
  color: #FF6D00;
  margin-top: 11px;
  border: none;
  background-color: white;
}
.main__itemReview .itemReview__items-review .item_review-opener::after {
  content: "ÔÅ∏";
  padding-left: 5px;
  font-family: fontawesome;
}
.main__itemReview .itemReview__items-reviewStatus {
  display: flex;
  flex-direction: column;
}
.main__itemReview .itemReview__items-reviewStatus {
  display: flex;
  flex-direction: column;
}
.main__itemReview .itemReview__items-reviewStatus .reviweStatus-status {
  text-align: center;
  padding: 4px 0;
  border-radius: 2px;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main__itemReview .itemReview__items-reviewStatus .status-active {
  background-color: #50AD01;
}
.main__itemReview .itemReview__items-reviewStatus .status-moderation {
  background-color: #50AD01;
  opacity: 0.6;
}
.main__itemReview .itemReview__items-reviewStatus .status-canceled {
  background-color: #A0A0A0;
}

.photo {
  flex: 40.48;
  margin-left: 17px;
}

.goodsName {
  margin-left: 22px;
  flex: 153;
}

.fullreview {
  margin-left: 36px;
  margin-right: 27px;
  flex: 368;
}

.reviewStatus {
  flex: 109;
}

.action {
  margin-left: 20px;
  flex: 148;
}